@import "tailwindcss";

:root {
  --background: linear-gradient(270deg, #080808 0%, #1e120e 72.09%, #2d1910 100%);
  --white-checkbox-bg: url('/icons/check-white.svg');
  --black-checkbox-bg: url('/icons/check.svg');
  --gradient-white :radial-gradient(85.18% 257.73% at 48.35%  49.66%, rgb(255 255 255) 0%, rgb(255 255 255) 100%);
  --gradient-brown: linear-gradient(270deg,#915c46 0,#c47a5c 100%); 
}

@theme inline {
  --font-sans: var(--font-gilroy);
  --tracking-base: -0.02em;
  --tracking-none: 0;
  --leading-one: 1;
  --leading-small: 1.2;
  --leading-main: 1.3;
  --leading-middle: 1.4;
  --leading-large: 1.7;
  --radius-small: 20px;
  --radius-base: 30px;
  --radius-middle: 40px;
  --transition-duration-base: 400ms;
  --breakpoint-2xl: 90rem; /* 1440px */
  --breakpoint-3xl: 105rem; /* 1680px */
  --color-main-bg: rgba(255, 255, 255, 0.04);
  --color-main-bg-secondary: #120d0a;
  --color-main-input: #52362b;
  --color-focus-input: rgb(145 92 70 / 20%);
  --color-white-70: rgba(255, 255, 255, 0.7);
  --color-white-40: rgba(255, 255, 255, 0.4);
  --color-black-primary: #080808;
  --color-black-secondary: #212529;
  --color-title: var(--gradient-white);
  --color-additional: #915c46;
  --color-special: #2d1910;

 
}

@media (min-width: 1024px) {
  body.modal-open {
    margin-right: 15px;
  }
}

@custom-variant pointer-coarse {
  @media (hover: none) {
    @slot;
  }
} 

@utility bg-rainbow-gradient-text {
  background-image: linear-gradient(90deg, #f43b47 0%, #453a94 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@utility bg-blur {
  -webkit-backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);
}

@utility box-shadow-main {
  box-shadow: 0 75px 75px 0 rgb(10 10 10 / 9%), 0 170px 102px 0 rgb(10 10 10 / 5%), 0 302px 121px 0 rgb(10 10 10 / 1%), 0 471px 132px 0 rgb(10 10 10 / 0%), 0 4px 4px 0 rgb(0 0 0 / 25%);

}         

@utility bg-white-gradient-text {
  background-image: var(--gradient-white);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@utility bg-brown-gradient-text {
    background: var(--gradient-brown);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


@utility bg-nav-gradient {
  background-image: var(--background);
}


@utility close-button {
  position: absolute;
  z-index: 35;
  transform: rotate(45deg);
  border-radius: 100px;
  background-color: var(--color-main-bg);
  backdrop-filter: blur(24px);
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3px;
    height: 21px;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background-color: #fff;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 21px;
    height: 3px;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background-color: #fff;
  }
}

@utility custom-checkbox {
  position: relative;
  margin-right: 8px;
  border-radius: 4px;
  border: 1.5px solid #fff;
 
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 9px;
    transform: translate(-50%, -50%);
    transition: all 0.8s;
  }
}

@utility checkbox-white {
  &:checked + label {

    &::before {
      background: var(--white-checkbox-bg) center / cover no-repeat;
    }
  }
}

@utility checkbox-black {
  &:checked + label {

    &::before {
      background: var(--black-checkbox-bg) center / cover no-repeat;
    }
  }
}

@utility input-interactive {
  &::placeholder {
    transition: all 0.3s ; 
  }

  &:focus {
    outline: 6px solid var(--color-focus-input);
    transition: outline 0s;

    &::placeholder {
      color: transparent;
    }
  }

  @media (hover: hover) {
    &:hover { 
    background-color: var(--color-main-input);
    }
  }
}

@utility button-interactive_fill {
  &::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    background: linear-gradient(90deg, #f43b47 0%, #453a94 100%);
    color: #fff;
    opacity: 0;
  }

  @media (hover: hover) {
     &:hover {
      color: #fff;

    &::before {
      opacity: 1;
    }
  }
}

  &:active {
    box-shadow: 0 5px 11px 0 rgb(29 27 27 / 11%), 0 20px 20px 0 rgb(29 27 27 / 9%), 0 45px 27px 0 rgb(29 27 27 / 6%), 0 80px 32px 0 rgb(29 27 27 / 2%), 0 125px 35px 0 rgb(29 27 27 / 0%);
    background-color: #fff;
    color: #080808;

    &::before {
      background: unset;
    }
  }
}

@utility button-interactive_blank {
  @media (hover: hover) {
    &:hover {
    border: 1.5px solid transparent;
    background: linear-gradient(#120d0a 0 0) padding-box, linear-gradient(90deg, #f43b47 0%, #453a94 100%) border-box;
    }
  }

  &:active {
    border: 1.5px solid #fff;
    color: #fff;
  }
}


body {
  background: var(--background);
  font-family: var(--font-sans), sans-serif;
}

 
.container {
  @apply mx-auto w-full md:w-[648px] lg:w-[968px] xl:w-[1120px] 2xl:w-[1320px] 3xl:w-[1540px] py-0 px-[20px] md:px-0;
}
.container-tablet-override {
  @apply mx-auto w-full md:w-[unset] md:ml-[60px] lg:mx-auto lg:w-[968px] xl:w-[1120px] 2xl:w-[1320px] 3xl:w-[1540px] py-0 px-[20px] md:px-0;
}

.title {
  @apply font-semibold bg-clip-text;
}

.title-responsive {
  @apply text-[2.5em] md:text-[4.375em] lg:text-[4.625em] xl:text-[5em] 2xl:text-[5.25em] 3xl:text-[5.5em] text-center;
}

